 *{
    	font-family: 'Poppins',sans-serif;
        
  }
  /* fa fa-birthday-cake , fa fa-clock-o, fa fa-graduation-cap, fa fa-map-marker,
  fa fa-phone fa fa-phone-square,fa fa-suitcase,fa fa-user-circle,fa fa-university,glyphicon glyphicon-user
  	glyphicon glyphicon-briefcasefa-linkedin */

* {
margin:0;

}
body{
	background-color: #252850
}
#columna1 {
position:absolute;
top:0px;
left:10px;
width:290px;

margin-top:10px;
background-color: #252850;
color: white;

padding-left:10px;
padding-right: 10px;

}
#columna2 {
margin-left:320px;
margin-right:20px;
margin-top:20px;
margin-bottom: 20px;
background-color:white;
color:black;
padding-left:20px;
padding-right: 20px;
padding-bottom: 20px;


}
img {
	margin-left: 70px;
	margin-top: 30px;
	margin-bottom: 10px;
    border : solid 3px;
	border-color: white

}

h1{
	font-size: 30px;
}
h2{
	padding-left: 10px;
}
h3{
	font-size: 15px;
	font-weight: 100 ; 
}

#nombre {
	padding-left: 50px;

}
#prof {
	padding-bottom: 20px;
	padding-left: 15px;
	border-bottom-style: double; 
}
.negrita {
	font-weight: bold;
	font-size: 20px
}
